.card-contact-me {
  padding-top: 15vh;
  height:100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 3vw;
  flex-direction: row;
  font-size: 3.5vw;
}
.contact-links a{
  color: var(--purple);
}
.contact-links a:hover{
  color: var(--coral);
  font-size: 4vw;
}


.cont {
  margin: 7px;
  padding: 10px;
  font-size: 12px;
  background-color: rgba(173, 124, 173,0.);
  border: 1px solid rgba(5, 14, 20, 0.347);
  width: 400px;
}

.cont:focus {
  transition: 0.5s;
  background-color: rgba(173, 124, 173,0.1);
  border-color: var(--purple);
  outline: 0;
}

#submit_button {
  width: 10rem;
  height: 50px;
  color: #F5F5F5;
  background-color: rgb(173, 124, 173);
  font-size: 1.2rem;
  border: 0px;
  margin: 5px;
  cursor: pointer;
  border-radius: 2px;
}

#submit_button:hover {
  transition: 0.5s;
  background-color: var(--coral);
}

#boxing, .cont, .cont:focus {
  color: black;
}
