
 .projects {
  padding-top: 15vh;
  text-align: center;
  height: 100vh;
  margin: 200px;
  width: 100vw;
}
.project-img img{
  width: 30vw;
  height: 20vw;
  margin: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px var(--purple);
}
.project-img img:hover{
  width: 26vw;
  height: 17vw;
}
.modal-title{
  font-weight: bolder;
  font-size: 1.5rem;
}
.modal-body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  }
  .carousel-item img{
    width: 40vw;
    height: 25vw;
  }
  .modal-body p{
    font-size: 1vw;
  }
.modal-content a{
  background-color: var(--purple);
  color: white !important;
  border: none;
}
.modal-content a:hover{
  background-color: var(--coral);
  color: white !important;
  border: none;
}
