x#projects iframe {
  width: 1500px;      /* Full width of the viewport */
  height: 100vh;     /* Full height of the viewport */
  border: none;      /* Optional: Remove border */
}
 .projects {
  padding-top: 15vh;
  text-align: center;
  height: 400px;
  margin: 200px;

}
.project-img img{
  width: 26vw;
  height: 17vw;
  margin: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 10px var(--purple);
}
.project-img img:hover{
  width: 24vw;
  height: 15.5vw;
}

.modal-body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  }
  .carousel-item img{
    width: 40vw;
    height: 25vw;
  }
  .modal-body p{
    font-size: 1vw;
  }
