
.card-profile {
  text-align:center;
  padding: 30px;
  padding-top: 15vh;
  height: 100vh;
}
.stack{
  padding-top: 15vh;
  text-align: center;
  margin: 200px;
  height: 100vh;
}
.stack img{
  height: 8vw;
  padding: 1vw;
}
.stack img:hover{
  transform: scale(1.05);
}


.board {
	font-family: "Dosis";
	font-size: 2.2rem;
	letter-spacing: .15em;
	text-transform: uppercase;
	line-height: 1.5;
	text-shadow: 1px 1px #666, 3px 3px #000;
	width: 35vw;
	height: auto;
	padding: 20px;
	overflow: hidden;
	color: #fff;
	border: 10px solid #eee;
	background: linear-gradient( #0e0e0e 65%, #030303 66%) top .03em center / 100% .30em repeat-y;
}
.board p{
  text-align: center;
}
