
html {
  scroll-behavior: smooth;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card-profile {
  text-align:center;
  padding: 30px;
  padding-top: 15vh;
  height: 100%vh;
}
.stack{
  padding-top: 15vh;
  text-align: center;
  margin: 200px;
  height: 100%vh;
}
.stack img{
  height: 8vw;
  padding: 1vw;
}



.card-contact-me {
  padding-top: 15vh;
  height:100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-direction: row;
  font-size: 50px;
}
.contact-links a{
  color: var(--purple);
}
.contact-links a:hover{
  color: var(--coral);
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
